<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            height: 500px;
            width: 400px;
            margin: 0 auto;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
        }
    </style>
    <title>Dojo Survey</title>
</head>

<body>
    <h1>Dojo Survey</h1>
    <form action="/process" method="post">
        Your Name: <input type="text" name="name" id="name">
        Dojo Location: <select name="location" id="">
            <option value="San Jose">San Jose</option>
            <option value="Dallas">Dallas</option>
            <option value="Seattle">Seattle</option>
        </select>
        Favorite Language: <select name="language" id="">
            <option value="Python">Python</option>
            <option value="CSS">CSS</option>
            <option value="Javascript">Javascript</option>
        </select>
        Comments (optional): <textarea name="comment" id="" cols="30" rows="3"></textarea>
        <input type="submit" value="Submit">
    </form>
</body>

</html>